/* ctrl + ; para comentário */

/* ESTILO GERAL */
/* Resetando o documento e substituindo a cor de fundo por preto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* todos os elementos dentro da mesma borda da caixa */
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    height: 100zh; /* para tomar todo o espaço da tela */
}

a {
    text-decoration: none;
}

.interface {
    max-width: 1280px;
    margin: 0 auto; /* centralizando */
}

.flex{
    display: flex;
}

/* Aplicando estilo ao  botão "contato" */
.meu-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2affff;
    border: 0;
    border-radius: 30px;
    cursor: pointer; /* Para que o cursor mude para o clicavel */
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color: #00ffff;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ffff; /* mais claro para a sombra ficar aparente */
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */ 
header{
    padding: 40px 4%; /* para que não fique colada no topo (40px) nem nas laterais (4%) */

}

/* Chamando a classe que está diretamente dentro do header (Utilizando o sinal de "maior que" para que ele procure os elementos que possuem a classe desejada*/
header > .interface { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilizando todos os links dentro do header */
header a{
    color: #7d7d7d; /* #5c5c5c - mais escuro*/
    text-decoration: none; /* Tirando o sublinhado do nav */
    display: inline-block; /* Propriedade necessária para que o "transform" funcione */
    transition: .2s;
}

/* Alterando estilo quando o cursor está sobre */
header a:hover{
    color: #fff;
    transform: scale(1.05); /* Aumentando o tamanho */
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block; /* Colocando os elementos do nav, um ao lado do outro */
    padding: 0 40px;  /* Aumentando o espaçamento entre os elementos do nav */
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00ffff;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .txt-topo-site p span{
    color: #00ffff;
}

.topo-do-site .img-topo-site img{
    height: 500px;
    width: auto;
    border-radius: 45px 9px;
    box-shadow: 0px 0px 8px #00ffff;
    position: relative; /* Animação só funciona se a posição for diferente da padrão */
    animation: flutuar 2s ease-in-out infinite alternate; /* animation: NOME DURAÇÃO VELOCIDADE REPETIÇÃO BOOMERANG*/
}

/* Animando a imagem do site */
@keyframes flutuar {
    /* Estado inicial (quando entra no site) */
    0%{ 
        /* Distância do topo = 0px */
        top: 0;
    }
    /* Quando a animação estiver acabando */
    100%{
        /* Distância do topo = 30px */
        top: 30px;
    }
}

/* ESTILO DAS HABILIDADES */
section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.habilidades .habilidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 0.8s;
    flex-basis: calc(33.3% - 60px);
}

.habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff78;
}

.habilidades .habilidades-box img {
    height: 70px;
    width: auto;
    color: #00ffff;
}

.habilidades .habilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;  /* Criando distancia entre o h2 e o parágrafo */
}

.sobre .txt-sobre h2 span{
    color: #00ffff;
    display: block; /* Colocando o span na linha de baixo */ 
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;  /* Deixando o final da linha do texto todas alinhadas */
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ffff;
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.sobre .img-sobre img{
    height: 500px;
    width: auto;
    border-radius: 45px 9px;
    box-shadow: 0px 0px 8px #00ffff;
}

/* ESTILO PORTFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #00ffff; /* Remover essa linha após substituir as imagens do portfolio */
    background-size: cover;
    background-position: 100% 0%; /* Vertical da imagem no topo */
    transition: 8s;
    cursor: pointer;
    border-radius: 35px;
    position: relative;  /* Para que o Overlay funcione */
}

.img-port:hover{
    background-position: 100% 100%; /* Vertical da imagem no final */
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO */
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto; /* centralizando na tela */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

/* 
form input::placeholder{
    color: #00ffff2c;
} */

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00ffff;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
      justify-content: space-between;
}