/* ESTILO DAS HABILIDADES */
section.habilidades {
    padding: 40px 4%;
}

section.habilidades .flex {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.habilidades .habilidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 15px;
    transition: 0.8s;
    flex-basis: calc(25% - 60px);
    display: flex;
    align-items: center;
    gap: 4px;
}

.habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff78;
}

.habilidades .habilidades-box img {
    height: 40px;
    width: auto;
    color: #00ffff;
}

.habilidades .habilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}