/* ESTILO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 340px;
    height: 440px;
    background-size: cover;
    background-position: center;
    /* Vertical da imagem no topo */
    transition: 8s;
    cursor: pointer;
    border-radius: 35px;
    position: relative;
    /* Para que o Overlay funcione */
    box-shadow: 0px 0px 8px #00ffff;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
    text-align: center;
    box-shadow: 0px 0px 8px #00ffff;

}

.overlay:hover {
    opacity: 1;
}